@import  "../global/_variables";

scui-article {
  width: 50%;
}

.scui-article {
  display: flex;
  flex-direction: row;
  background-color: $col_4;
  padding: 6px;
  margin: 6px;

  .scui-article-img {
    flex: .38;
    margin-right: 6px;

    img {
      width: 100%;
    }

  }

  .scui-article-content {
    flex: .62;
    display: flex;
    flex-direction: column;

    .scui-article-header {
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      margin-bottom: 20px;

      a {
        font-size: 18px;
        color: $col_6;
      }
    }

    .scui-article-desc {
      h3 {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
      }

      a {
        color: $col_3;
        text-decoration: none;
      }
    }

    .scui-article-footer {
      margin-top: auto;
      display: flex;
      justify-content: flex-end;

      button {
        font-size: 16px;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 2px;
        background-color: $col_5;
        color: $col_2;
      }
    }
  }
}
