@import "../global/_variables";

.scui-input {
  &.disabled {
    pointer-events: none;
    .scui-input-label {
      color: $col_main_4;
    }
    .scui-input-field {
      color: $col_main_5;
      border-bottom: 1px solid $col_main_2;
    }
  }

  &.scui-focus {
    .scui-input-field {
      border-bottom: 1px solid $col_prim_4;
      background: $col_prim_1;
      font-weight: 300;
    }
    .scui-input-label {
      color: $col_prim_5;
    }
  }

  &.scui-error {
    .scui-input-field {
      border-bottom: 1px solid $col_sec_2;
      background: $col_sec_3;
    }
    .scui-input-label {
      color: $col_sec_2;
    }
    .scui-input-messages {
      font-weight: 300 !important;
    }
  }

  .scui-input-label {
    color: $col_main_5;
    height: 32px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 13px;
    padding-top: 10px;
  }
  .scui-input-field {
    height: 40px;
    width: 100%;
    font-size: 15px;
    padding-left: 12px;
    background: $col_main_1;
    font-weight: 300;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $col_main_3;
  }
  .scui-input-counter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 13px;
    font-weight: 400;
    height: 24px;
    color: #868686;
  }
  .scui-input-messages {
    display: flex;
    align-items: flex-end;
    height: 24px;
    font-size: 13px;
    color: $col_sec_2;
  }

}

.scui-textarea {
  &.disabled {
    .textarea-field {
      border: 1px dashed $col_main_3;
    }
  }
  .scui-input-label {
    font-size: 13px;
    font-weight: 500;
    line-height: 32px;
    color: $col_main_5;
  }
  .textarea-field {
    padding: 16px;
    background: $col_main_1;
    border: 1px solid $col_main_3;
    width: 100%;
    color: $col_black;
    font-weight: 300;
    font-size: 15px;
    background: $col_main_1;
    min-height: 190px;
    resize: vertical;
    &:focus {
      border-color: $col_prim_5;
      background: $col_prim_1;
    }
  }
  .scui-input-counter {
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    line-height: 32px;
    font-size: 13px;
  }
  &.error {
    .scui-input-label {
      color: #D92227;
    }
    .textarea-field {
      border: 1px solid #D92227;
      background: #FFF0F1;
    }
    .textarea-error {
      color: $col_sec_2;
      font-size: 13px;
      font-weight: 300;
      line-height: 32px;
    }
  }

}
