.scui-nav {
  background-color: #192532;
  position: fixed;
  left: 0;
  top: 0;
  width: 64px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav-header {
    margin-top: 20px;
  }

  .nav-items {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;

    .nav-item {
      margin-bottom: 10px;
    }
  }
}
