.scui-nav {
  background-color: #3A00F8;
  position: fixed;
  left: 0;
  top: 0;
  width: 64px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .nav-header {
    margin-top: 20px;
  }

  .nav-items, .nav-footer {
    margin-top: 55px;
    .nav-item {
      background: #3A00F8;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      height: 64px !important;
      width: 64px;
      position: relative;
      &.active-nav {
        background-color: #89C5FC;
        .icon {
          color: white;
        }
      }
      .icon {
        z-index: 1;
        color: #89C5FC;
      }
    }
  }

  .nav-footer {
    // margin-bottom: 24px;
    flex: inherit;
  }

  .icon {
    color: #404040;
    font-size: 24px;
  }

}
