@import "../global/_variables";

.default, .edit, .delete {
  width: 392px;
  height: 392px;
  position: relative;
  box-shadow: 0 11px 8px -8px rgba(0, 0, 0, 0.2);
}

.scui-article article {
  padding: 16px;
  &.default {
    background-color: $col_2;
    .article-action {
      border-left: 1px solid $col_21;
      .icon {
        color: rgba(0, 0, 0, 0.7);
      }
      &:hover {
        background: $col_21;
        .icon {
          color: rgba(0, 0, 0, 1);
        }
      }
    }
  }

  &.edit {
    background-color: $col_15;
    .scui-article-footer {
      border-top: 1px solid $col_32 !important;
      .article-action, .article-action-2 {
        border-left: 1px solid $col_32;
        .icon {
          color: rgba(0, 0, 0, 0.7);
        }
        &:hover {
          background: $col_32;
          .icon {
            color: $col_2;
          }
        }
      }
    }
  }

  &.delete {
    display: inherit;
    position: relative;
    padding: 0;
    background: $col_14;
    .content {
      padding-left: 40px;
      padding-top: 18px;
      font-weight: 300;
      line-height: 22px;
    }
    .header {
      border-top: 8px solid $col_18;
      height: 64px;
      width: 100%;
      background: $col_2;
      padding-left: 40px;
      color: $col_18;
      padding-top: 13px;
      .icon {
        font-size: 30px;
        vertical-align: -8px;
        margin-right: 10px;
      }
    }
    .footer {
      position: absolute;
      bottom: 6px;
      right: -8px;
      font-size: 13px;
      padding: 9px 24px;
      .btn {
        color: $col_2;
        display: inline-block;
        font-size: 14px;
        padding: 10px 21px;
        border-radius: 4px;
        cursor: pointer;
        &.cancel {
          background: $col_20;
          &:hover {
            background: $col_27
          }
        }
        &.remove {
          margin-left: 8px;
          background: $col_17;
          &:hover {
            background: $col_18;
          }
        }
      }
    }
  }

  .scui-article-img {
    height: 190px;
    background: $col_21;
    .img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }

  }

  .scui-article-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 16px;
    height: 186px;
    .scui-article-header {
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      margin-bottom: 10px;
      font-weight: 300;
      .icon {
        font-weight: 100;
        font-size: 18px;
        color: gray;
        cursor: none;
      }
      a {
        font-size: 18px;
        color: $col_6;
      }
    }

    .scui-article-desc {
      h3 {
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
      }

      p {
        font-size: 16px;
        line-height: 20px;
        font-weight: 300;
      }

      a {
        color: $col_3;
        text-decoration: none;
      }
    }

    .scui-article-footer {
      height: 40px;
      display: flex;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 1px;
      padding: 10px 16px;
      border-top: 1px solid $col_21;
      .pills-box {
        //background: #ffa8a2;
        position: absolute;
        left: 8px;
        top: 8px;
        bottom: 8px;
        color: $col_2;
        height: 24px;
        .pill {
          background: $col_32;
          font-size: 14px;
          display: inline-block;
          height: 100%;
          padding: 5px 12px 0 12px;
          border-radius: 12px;
          margin-right: 8px;
          .icon {
            font-weight: 600;
            margin-right: 8px;
          }
          .value {
            vertical-align: 1px;
          }
          .icon, .value {
            font-size: 14px;
          }
        }
      }
      .icon {
        font-size: 20px;
      }
      .article-action {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 0;
        cursor: pointer;
        .icon {
          position: absolute;
          top: 10px;
          left: 10px;
        }
      }
      .article-action-2 {
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 40px;
        cursor: pointer;
        .icon {
          position: absolute;
          top: 10px;
          left: 10px;
        }
      }
    }
  }
}
