@import "../global/_variables";

.pill {
  font-size: 14px;
  border: 1px solid $col_main_4;
  padding: 6px 16px;
  border-radius: 16px;
  margin:20px; //todo for storybook view
  font-weight: 300;
  height:32px;
}
