@import "../global/_variables";

.scui-drawer {
  min-height: 100vh;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  min-width: 420px;

  .drawer-inner {
    background-color: $col_2;
    width: 100%;
  }

  &.drawer-pos-left {
    margin-left: 64px;
  }

  &.collapsed {
    z-index: -1;
  }

  .drawer-collapse {
    width: 8px;
    min-height: 100vh;
    height: 100%;
    background-color: $col_21;
    cursor: pointer;

    &:hover {
      background-color: $col_30;
    }
  }
}
