@import "../global/_variables";

scui-editor-article {
  width: 174px;
  height: 174px;
  position: relative;
  cursor: move;
  display: inline-flex;
  margin: 10px;
}

.scui-editor-article {
  width: 174px;
  height: 174px;
  position: relative;
  cursor: move;

  .editor-article-overlay {
    position: absolute;
    visibility: hidden;
    height: 87px;
    top: 0;
    left: 0;
    right: 0;
  }

  .editor-article-img {
    height: 87px;
    background-color: $main_5;
    position: static;
  }

  .editor-article-date, .icon, .editor-article-title {
    position: absolute;
    color: $blank_2;
  }

  .icon {
    right: 10px;
    top: 10px;
    z-index: 4;
  }

  .editor-article-date {
    top: 12px;
    font-size: 13px;
    left: 10px;
    visibility: hidden;
    font-weight: 300;
  }

  .editor-article-title {
    font-size: 13px;
    font-weight: 500;
    top: 28px;
    left: 10px;
    visibility: hidden;
  }

  .editor-article-overlay {
    background: $blank_1;
    opacity: 0.4;
    z-index: 0;
  }

  .editor-article-content-wrap {
    height: 87px;
    background: $main_2;

    .editor-article-content {
      padding: 8px;
      font-size: 13px;
      font-weight: 300;
    }
  }

  &:hover {
    outline: 8px solid $main_3;

    .editor-article-overlay {
      visibility: visible;
    }

    .editor-article-date, .editor-article-title {
      visibility: visible;
      z-index: 5;
    }
  }

  &.linked {
    .editor-article-content-wrap {
      background-color: $main_5;

      .editor-article-content {
        color: $blank_2;
      }
    }

    .editor-article-overlay {
      visibility: visible !important;
    }

  }
}

.gu-mirror {
  opacity: 1 !important;
}

.gu-mirror .scui-editor-article {
  outline: 8px solid $prim_5 !important;
  .editor-article-overlay {
    visibility: visible !important;
  }

  .editor-article-date, .editor-article-title {
    visibility: visible !important;
    z-index: 5;
  }
}

.gu-transit .scui-editor-article {
  background-color: $main_5 !important;
  color: $main_5 !important;
  opacity: 1 !important;

  * {
    visibility: hidden !important;
  }
}
