@import "../global/_variables";

.scui-input {
  &.scui-focus {
    .scui-input-field {
      border-bottom: 1px solid $col_prim_4;
      background: $col_prim_1;

    }
    .scui-input-label {
      color: $col_prim_4;
    }
  }

  &.scui-error {
    .scui-input-field {
      border-bottom: 1px solid $col_sec_2;
      background: $col_prim_1;
    }
    .scui-input-label {
      color: $col_sec_2;
    }
  }

  .scui-input-label {
    font-size: 13px;
    color: $col_main_6;
    height: 24px;
  }
  .scui-input-field {
    height: 40px;
    width: 100%;
    font-size: 15px;
    padding-left: 12px;
    background: $col_main_1;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid $col_main_3;
  }
  .scui-input-counter {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 13px;
    height: 24px;
    color: $col_main_6;
  }
  .scui-input-messages {
    display: flex;
    align-items: flex-end;
    height: 24px;
    font-size: 13px;
    color: $col_sec_2;
  }

}
