@import  "../global/_variables";

.cards-wrap {
  justify-content: center;
  padding-left: 41px;

}

.scui-card {
  width: 360px;
  position: relative;
  margin-right: 16px;
  margin-bottom: 16px;
  height: 224px;
  background: $col_white;
  border-left: 8px solid $col_prim_5;

  &.active {
    .content {
      color: $col_white;
    }
  }

  .content {
    position: absolute;
    left: 28px;
    right: 23px;
    bottom: 22px;
    z-index: 1;
    color: $col_black;

    .name {
      font-size: 27px;
      margin-bottom: 9px;
      font-weight: 500;
    }

    .description {
      font-weight: 300;
    }

    .icon {
      font-size: 34px;
      right: 0;
      position: absolute;
      bottom: 3px;
    }
  }
}
