@import "../global/_variables";

.output-actions {
  min-width: 224px !important;

  .output-action {
    height: 40px;
    border-top: 1px solid $main_2;
    padding-left: 12px;

    &.disabled {
      .icon {
        color: $main_4;
      }

      .output-action-label {
        color: $main_4;
      }
    }

    .icon {
      font-size: 18px;
    }

    .output-action-label {
      padding-left: 14px;
      position: relative;
      top: -3px;
    }
  }

  .output-action-last {
    border-bottom: 1px solid $main_2;
  }

  &:hover {
    .disabled {
      background: $blank_2;
      cursor: default !important;
      pointer-events: none;

      span {
        cursor: default !important;
      }
    }
  }
}

.scui-article-status {
  width: 304px;
  display: inline-block;
  margin-right: 24px;
  position: relative;

  &:hover {
    outline: 8px solid $main_3;
  }

  &.overlayActive {
    &:hover {
      outline: none !important;
    }

    .published-overlay {
      height: 408px;
      padding: 24px;
      visibility: visible;
      color: $main_9;
    }
  }

  .icons-wrap {
    height: 204px;
    background: $main_2;
    padding: 20px 10px 24px 18px;

    .item {
      width: 47px;
      height: 47px;
      display: inline-block;
      margin-right: 8px;
      margin-bottom: 8px;
      position: relative;

      &:hover {
        .icon-wrap.defaultState {
          background: $main_6 !important;

          .icon {
            color: $blank_2 !important;
          }
        }
      }

      .icon-wrap {
        width: 47px;
        height: 47px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $blank_2;
        border-radius: 50%;

        .icon {
          font-size: 20px;
        }

        &.published {
          .dot {
            background: $info_2;
          }
        }

        &.scheduled {
          opacity: 0.8;

          .dot {
            background: $col_hubspot;
          }

          &:hover {
            opacity: 1;
          }
        }

        &.defaultState {
          background: $blank_2 !important;

          .icon {
            color: $blank_1 !important;
          }
        }
      }

      .dot {
        position: absolute;
        right: 0;
        top: 0;
        width: 15px;
        height: 15px;
        background: black;
        border-radius: 50%;
        border: 2px solid $main_2;
      }
    }
  }

  .info-wrap {
    height: 204px;
    padding: 16px;
    background: $blank_2;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    .info-top {
      font-size: 16px;
      font-weight: 400;

      .info-author {
        color: $main_5;
        margin-bottom: 8px;
      }

      .info-title {
        cursor: pointer;
      }
    }

    .info-bottom {
      display: flex;
      justify-content: space-between;

      .counter {
        &:hover {
          background: $prim_6;
        }

        background: $prim_5;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: inline-block;
        color: $blank_2;
        position: relative;
        cursor: pointer;

        span {
          position: absolute;
          top: 8px;
          left: 12px;
        }
      }

      .menu-trigger {
        font-size: 20px;
        cursor: pointer;
        position: relative;
        right: 8px;
        top: 8px;
      }

    }

  }

  .published-overlay {
    background: $main_2;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    transition: height 0.4s linear;
    overflow: hidden;
    visibility: hidden;
    border: 8px solid $main_3;

    .published-files-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 33px;

      &:hover {
        .icon {
          color: $blank_1;
        }
      }

      .files {
        font-weight: 500;
        font-size: 18px;
      }

      .icon {
        font-size: 26px;
        position: relative;
        top: -5px;
        right: -3px;
        cursor: pointer;

        &:hover {
          color: $prim_5;
        }
      }
    }

    .published-files-content {
      .scheduled-item, .published-item {
        height: 40px;
        margin-bottom: 2px;
      }

      .published-item {
        padding-left: 8px;
        padding-top: 5px;

        .icon {
          color: $prim_5;
          position: relative;
          top: 2px;
          display: inline-block;
          min-width: 16px;
        }

        .date-published {
          font-weight: 300;
          font-size: 15px;
        }

        .date-published {
          padding-left: 22px;
        }
      }

      .scheduled-item {
        .scheduled-item-wrap {
          display: inline-block;
          background: white;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          position: relative;

          .icon {
            color: $prim_5;
            position: absolute;
            top: 8px;
            left: 8px;
          }
        }

        .date-published {
          font-weight: 300;
          font-size: 15px;
          vertical-align: 10px;
        }

        .date-published {
          padding-left: 15px;
        }

        .settings {
          position: relative;
          top: -7px;

          .icon-settings-gear {
            padding-left: 24px;
            padding-right: 6px;
          }
        }
      }
    }
  }

  .SCOPE_TO_EMAIL {
    background: $col_mail !important;

    .icon {
      color: $blank_2;
    }
  }

  .FACEBOOK_PAGE {
    background: $col_fb !important;

    .icon {
      color: $blank_2;
    }
  }

  .LINKEDIN_PAGE {
    background: $col_linkedIn !important;

    .icon {
      color: $blank_2;
    }
  }

  .TWITTER {
    background: $col_twitt !important;

    .icon {
      color: $blank_2;
    }
  }

  .WORDPRESS {
    background: $col_wp !important;

    .icon {
      color: $blank_2;
    }
  }

  .GOOGLE_DOC {
    background: $col_gdoc !important;

    .icon {
      color: $blank_2;
    }
  }

  .MAILCHIMP {
    background: $col_mchimp !important;

    .icon {
      color: $blank_2;
    }
  }

  .PARDOT {
    background: $col_sf !important;

    .icon {
      color: $blank_2;
    }
  }

  .SALES_FORCE {
    background: $col_sf !important;

    .icon {
      color: $blank_2;
    }
  }

  .HUBSPOT {
    background: $col_hubspot !important;

    .icon {
      color: $blank_2;
    }
  }

}
