.scui-drawer {
  min-height: 100vh;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  max-width: 300px;

  .drawer-inner {
    background-color: #f8f8f5;
    width: 100%;
  }

  &.drawer-pos-left {
    margin-left: 64px;
  }

  &.collapsed {
    z-index: -1;
  }

  .drawer-collapse {
    width: 8px;
    min-height: 100vh;
    height: 100%;
    background-color: #d4d3d3;
    cursor: pointer;

    &:hover {
      background-color: #3399ff;
    }
  }
}
