@import "../global/_variables";

.scui-drawer {
  min-height: 100vh;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;

  .drawer-inner {
    background-color: $col_white;
    width: 420px;
  }

  &.drawer-pos-left {
    margin-left: 64px;
  }

  &.collapsed {
    z-index: -1;
    background: red;
    .drawer-collapse {
      background-color: $col_main_4 !important;
    }
  }

  .drawer-collapse {
    width: 8px;
    min-height: 100vh;
    height: 100%;
    background-color: $col_main_3;
    cursor: pointer;

    &:hover {
      background-color: $col_prim_4;
    }
  }
}
