@import "_variables";

.scui-submenu {
  padding: 0;
  min-width: 280px;

  .submenu-nav {
    padding: 0 0 16px 0;
  }

  .submenu-header {
    padding: 22px;
    height: 64px;
  }

  .nav-header-label {
    font-weight: 400;
    font-size: 15px;
    height: 40px;
    padding: 12px 12px 0px 24px;
  }

  .submenu-title {
    font-size: 20px;
    color: $col_black;
    font-weight: 600;
  }

  .submenu-nav-title {
    font-weight: 700;
    font-size: 14px;
    color: $col_main_4;
    margin: 38px 0 20px 24px;
  }

  .submenu-nav-items {
    margin-top: 20px;
  }

  .submenu-nav-label {
    color: $col_black !important;
    text-overflow: ellipsis;
    word-break: break-word;
  }

  hr {
    margin: 0;
  }
}

.submenu-nav-item {
  font-weight: 400;
  font-size: 15px;
  min-height: 40px;
  padding: 12px 12px 0 24px;
  cursor: pointer;
  list-style: none;
  word-break: break-all;

  &.active {
    a span{
      color: $col_prim_5 !important;
    }
  }

  &:hover {
    background: $col_main_1;
    .submenu-nav-actions{
      visibility: visible;
    }
  }

  &.gu-transit {
    background: #f2f2f2 !important;
    opacity: 1;

    * {
      visibility: hidden;
    }
  }

  .icon2 {
    font-weight: 600;
    margin-left: 4px;
    color: $col_black;
    font-size: 14px;
    padding: 2px;
    cursor: pointer;
  }

  .icon1 {
    color: $col_black;
    font-weight: 600;
    font-size: 14px;
    margin-right: 4px;
  }

  .list-item {
    color: $col_main_7;
    display: flex;
    flex-direction: row;
    width: 100%;
    line-height: 18px;
    align-items: center;

    a {
      color: $col_main_7;
      text-decoration: none !important;
    }
  }
}

.submenu-nav-actions {
  margin-left: auto;
  visibility: hidden;
  display: flex;

  .icon-btn-empty {
    color: $col_main_4;
  }
}
