@import "_variables";

.scui-submenu {
  padding: 0;
  min-width: 280px;

  .submenu-nav {
    padding: 0 0 16px 0;
  }

  .submenu-header {
    padding: 22px;
    height: 64px;
  }

  .nav-header-label {
    font-weight: 400;
    font-size: 15px;
    height: 40px;
    padding: 12px 12px 0px 24px;
  }

  .submenu-title {
    font-size: 20px;
    color: $col_6;
    font-weight: 600;
  }

  .submenu-nav-title {
    font-weight: 700;
    font-size: 14px;
    color: $col_28;
    margin: 38px 0 20px 24px;
  }

  .submenu-nav-items {
    margin-top: 20px;
  }

  .submenu-divider {
    background: $col_29;
  }

  .color_01 {
    color: $col_23 !important;
  }

  .submenu-nav-label {
    color: $col_24 !important;
  }

  hr {
    margin: 0;
  }
}

.submenu-nav-item {
  font-weight: 400;
  font-size: 15px;
  height: 40px;
  padding: 12px 12px 0 24px;
  cursor: pointer;
  list-style: none;

  &.active {
    a span{
      color: $col_26 !important;
    }
  }

  &:hover {
    background: $col_14;
    .submenu-nav-actions{
      display: flex;
    }
  }

  &.gu-transit {
    background: #f2f2f2 !important;
    opacity: 1;

    * {
      visibility: hidden;
    }
  }

  .icon2 {
    font-weight: 600;
    margin-left: 4px;
    color: $col_24;
    font-size: 14px;
    padding: 2px;
    cursor: pointer;
  }

  .icon1 {
    color: $col_24;
    font-weight: 600;
    font-size: 14px;
    margin-right: 4px;
  }

  a {
    color: $col_27;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    line-height: 18px;
  }
}

.submenu-nav-actions {
  margin-left: auto;
  display: none;

  .icon-btn-empty {
    color: $col_28;
  }
}
