$col_prim_1: #DAECFF;
$col_prim_2: #a6bddc;
$col_prim_3: #89C5FC;
$col_prim_4: #0099FF;
$col_prim_5: #3A00F8;
$col_prim_6: #1E0080;
$col_prim_7: #0076DF;

$col_sec_1: #F45357;
$col_sec_2: #D9272D;
$col_sec_3: #F4E3E6;

$col_black: #000;
$col_white: #fff;
$col_main_1: #F2F2F2;
$col_main_2: #E6E6E6;
$col_main_3: #DADADA;
$col_main_4: #c9c9c9;
$col_main_5: #A8A8A8;
$col_main_6: #868686;
$col_main_7: #6B6B6B;
$col_main_8: #414141;

$col_info_1: #0d9200;
$col_info_2: #57c410;
$col_info_3: #8ef84f;
$col_info_4: #fff64f;
$col_info_5: #ffc400;
$col_info_6: #c79400;
