$col_1: #2f00f3;
$col_2: #fff;
$col_3: #000;
$col_4: #dadada;
$col_5: #bdbdbd;
$col_6: #0D0D0D;
$col_7: #f8f8f5;
$col_8: #d4d3d3;
$col_9: #3A00F8;
$col_10: #89C5FC;
$col_11: #ecf0f1;
$col_12: #212121;
$col_13: #979797;
$col_14: #F2F2F2;
$col_15: #CADCF6;
$col_16: #A6C8F9;
$col_17: #F45357;
$col_18: #D9272D;
$col_19: #f2f2f2;
$col_20: #bcbcbc;
$col_21: #E5E5E5;
$col_22: #DADAD;
$col_23: #868686;
$col_24: #0D0D0D;
$col_25: #0099FF;
$col_26: #3399FF;
$col_27: #6B6B6B;
$col_28: #AEAEAE;
$col_29: #d2d2d2;
$col_30: #3399ff;
