$prim_1: #DAECFF;
$prim_2: #a6bddc;
$prim_3: #89C5FC;
$prim_4: #0099FF;
$prim_5: #0066FF;
$prim_6: #004FE5;
$prim_7: #0035C1;
$prim_8: #001DBC;

$sec_1: #F45357;
$sec_2: #D9272D;
$sec_3: #F4E3E6;

$blank_1: #000;
$blank_2: #fff;

$main_1: #F2F2F2;
$main_2: #E4E6E8;
$main_3: #CDD0D3;
$main_4: #BBBEC5;
$main_5: #8E939C;
$main_6: #70757E;
$main_7: #545962;
$main_8: #40454E;
$main_9: #202428;

$info_1: #0d9200;
$info_2: #57c410;
$info_3: #8ef84f;
$info_4: #fff64f;
$info_5: #ffc400;
$info_6: #c79400;

//brands
$col_mail:#cb005d;
$col_fb:#1877f1;
$col_linkedIn:#0e76a8;
$col_twitt:#38a1f3;
$col_hubspot:#ff7a59;
$col_wp:#0073aa;
$col_sf:#f49700;
$col_mchimp:#684c46;
$col_gdoc:#4d8df5;
$col_mail0:rgb(187, 89, 160);
$col_mail1:rgb(218, 79, 97);
