@import "global/index";
@import "grid/index";
@import "typography/index";
@import "components/index";
@import "./global/_variables";


.scui-content {
  background-color: $col_main_1;
}

.section-title {
  font-size: 1.25rem;
  font-family: sans-serif;
  margin-bottom: 10px;
  color: $col_black;
}
