@import "global/index";
@import "grid/index";
@import "typography/index";
@import "components/index";

// todo: move this to appropriate files

.scui-content {
  background-color: #ecf0f1;
}

.section-title {
  font-size: 1.25rem;
  font-family: sans-serif;
  margin-bottom: 10px;
  color: #212121;
}

.submenu {
  font-family: sans-serif;
  color: #979797;

  .submenu-title {
    font-size: 0.875rem;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .submenu-items {
    font-size: 0.875rem;
  }
}
