<div class="scope-form-group {{styleClass}}">
  <label [ngClass]="{'label-hidden': hideLabel}" #label>
    <ng-content></ng-content>
  </label>
  <input [type]="inputType"
         [(ngModel)]="data"
         (blur)="save(input, $event)"
         [disabled]="disabled"
         #input="ngModel"
         class="scui-input form-control">
  <div class="input-controls" *ngIf="input.dirty && data !== initialData">
    <!--<fa-icon icon="check" (click)="save(input)"></fa-icon>-->
    <!--<fa-icon icon="times" (mousedown)="setDiscardProgress(true)" (click)="discard(input)" (mouseup)="setDiscardProgress(false)"></fa-icon>-->
  </div>
</div>
