<scui-nav [logo]="logo" [menuItems]="menuItems" [footer]="footer"></scui-nav>
<div class="scui-container">
  <scui-drawer [drawerOpen]="true">
    <h1 class="section-title">Projects</h1>
    <div class="submenu">
      <h4 class="submenu-title">All projects</h4>
      <ul class="submenu-items">
        <li><span class="icon icon-time"></span> Ki, Ai (All Countries)</li>
        <li><span class="icon icon-time"></span> Newsletter</li>
        <li><span class="icon icon-time"></span> Marketing</li>
      </ul>
    </div>

  </scui-drawer>
  <div class="scui-content">

  </div>
</div>

