@import "../../../../styles/global/_variables";

.article-menu {
  position: fixed;
  min-width: 300px;
  top: 0;
  right: 0;
}

.import-progress {
  background-color: $col_main_3;
  height: 8px;
}

.article-import {
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  height: 100%;

  .tab-nav {
    display: flex;
    flex-direction: row;
    border-bottom: 8px solid $col_black;

    .tab {
      color: $col_black;
      padding: 6px 20px;
      background: $col_black;
      margin-right: 5px;
    }
  }

  .article-import-content {
    margin-top: 30px;

    textarea {
      width: 100%;
      resize: vertical;
    }
  }

  .article-import-actions {
    margin-top: auto;
  }
}
