<div class="scui-main-container">
  <scui-drawer [collapse]="true" [drawerOpen]="true">
    <section class="scui-submenu">
      <header class="submenu-header">
        <h1 class="submenu-title">Projects</h1>
      </header>
      <scui-drawer-nav sortable="projects-bag" (onItemReorder)="reorder($event)" [subMenuItems]="submenu" title="MY PROJECTS"></scui-drawer-nav>
      <div class="submenu-divider"></div>
      <scui-drawer-nav [subMenuItems]="submenu2" title="COMPANY PROJECTS"></scui-drawer-nav>
      <div class="submenu-divider"></div>
    </section>
  </scui-drawer>
  <div class="scui-content">
    <div class="scui-container">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
